# direnv Config File
#
# References:
# - https://direnv.net/
# - https://github.com/pyenv/pyenv
# - https://doc.rust-lang.org/cargo/reference/environment-variables.html#dynamic-library-paths

python_version=$(cat "./.python-version")

layout pyenv "${python_version}"

export LIBTORCH=$(pwd)/.direnv/python-${python_version}/lib/python3.10/site-packages/torch
export LIBTORCH_INCLUDE=${LIBTORCH}
export LIBTORCH_LIB=${LIBTORCH}
export LD_LIBRARY_PATH=${LIBTORCH}/lib:$LD_LIBRARY_PATH
export DYLD_FALLBACK_LIBRARY_PATH=${LIBTORCH}/lib:$DYLD_FALLBACK_LIBRARY_PATH
